<div class="col-lg-12 col-md-12">
   <div class="create-Event rounded-10">
      <div class="heading">
         Create New Born
         <div class="search">
            <form class="custom-form" [formGroup]="form" (ngSubmit)="SubmitData()">
               <div class="row">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Name</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" name="name" formControlName="name" placeholder="Name" [ngClass]="{'is-invalid': submitted && form.controls.name.errors}" placeholder=" " required>
                     <div *ngIf="submitted && form.controls.name.errors" class="invalid-feedback">Name is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Pet Type</label>
                     <select class="form-control" id="exampleFormControlSelect1" formControlName="type" [ngClass]="{'is-invalid': submitted && form.controls.type.value == 'undefined'}">
                        <option [value]="undefined">Select Value</option>
                        <option *ngFor="let status of pet_type" [value]="status.value">{{status.name}}</option>
                                       
                     </select>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Gender</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" "required formControlName="gender" placeholder="gender" [ngClass]="{'is-invalid': submitted && form.controls.gender.errors}">
                     <div *ngIf="submitted && form.controls.gender.errors" class="invalid-feedback">Gender is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Size</label>
                     <select class="form-control" id="exampleFormControlSelect1" formControlName="size" [ngClass]="{'is-invalid': submitted && form.controls.size.value == 'undefined'}">
                     
                        <option value="0">Select Size</option>
                        <option value="Small" selected>Small</option>
                        <option value="Large">Large</option>
                        <option value="Medium">Medium</option>
                        <option value="Giant">Giant</option>
                      </select>

                     <div *ngIf="submitted && form.controls.size.errors" class="invalid-feedback">Size is required</div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Age</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" "required formControlName="age" placeholder="age" [ngClass]="{'is-invalid': submitted && form.controls.age.errors}">
                     <div *ngIf="submitted && form.controls.age.errors" class="invalid-feedback">Age is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Breed</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" placeholder=""required formControlName="breeds"  [ngClass]="{'is-invalid': submitted && form.controls.breed.errors}"> 
                     <div *ngIf="submitted && form.controls.breed.errors" class="invalid-feedback">Breed is required</div>
                  </div>
                  <!-- <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Breed</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" required formControlName="2ndbreed" placeholder="breed" [ngClass]="{'is-invalid': submitted && form.controls.2ndbreed.errors}"> 
                     <div *ngIf="submitted && form.controls.2ndbreed.errors" class="invalid-feedback">Breed is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">2nd Breed</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" required formControlName="2ndbreed" placeholder="breed" [ngClass]="{'is-invalid': submitted && form.controls.2ndbreed.errors}"> 
                     <div *ngIf="submitted && form.controls.2ndbreed.errors" class="invalid-feedback">Breed is required</div>
                  </div> -->
               </div>
               
               <div class=" form-group ">
                  <div class="custom-control custom-checkbox">
                     <input type="checkbox" formControlName="mixedbreed" value="mixedbreed" class="custom-control-input" id="customCheck1">
                     <label class="custom-control-label" for="customCheck1">Mixbreed</label>
                  </div>
               </div>
               <div class=" form-group ">
                  <div class="custom-control custom-checkbox">
                     <input type="checkbox" formControlName="purebreed" value="purebreed" class="custom-control-input" id="customCheck2">
                     <label class="custom-control-label" for="customCheck2">Purebreed</label>
                  </div>
               </div>
               <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="is_intact" formControlName="is_intact" value="intact" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Intact</label>
               </div>
               <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" value="spayed" name="is_intact" formControlName="is_intact" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">Spayed/neutered</label>
               </div>
               <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <label for="exampleInputPassword1">1st Breed</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder=""required formControlName="breed1"  [ngClass]="{'is-invalid': submitted && form.controls.breed1.errors}"> 
                  <div *ngIf="submitted && form.controls.breed1.errors" class="invalid-feedback">1st Breed is required</div>
               </div>
               <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <label for="exampleInputPassword1">2nd Breed</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder=""required formControlName="breed2"  [ngClass]="{'is-invalid': submitted && form.controls.breed2.errors}"> 
                  <div *ngIf="submitted && form.controls.breed2.errors" class="invalid-feedback">2nd Breed is required</div>
               </div>
              
               <div class="form-group">
                  <label for="exampleInputPassword1"> Add Profile Image:</label>
                  <div class="image-upload">
                     <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3" [ngClass]="{'is-invalid': submitted && form.controls.pet_avator.errors}">
                           <label for="file-input">
                              <img src="assets/images/createanouncement/Upload.png">
                              <input type="file" class="form-control" 
                              name="pet_avator"
                              formControlName="pet_avator"
                              (change)="onFileChange($event)"
                              >
                           </label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9">
                           <div class="text"> Upload Profile Image Here</div>
                        </div>
                        <div *ngIf="submitted && form.controls.pet_avator.errors" class="invalid-feedback">Pet Image is required</div>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="exampleInputPassword1">About</label>
                  <textarea style="width: 100%;">             
                  </textarea>
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
               
         </div>
      </div>
   </div>
</div>