<div class="col-lg-12 col-md-12">
   <div class="create-Event rounded-10">
      <div class="heading">
         Create New Born
         <div class="search">
            <form class="custom-form" [formGroup]="form" (ngSubmit)="SubmitData()">
               <div class="row">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Name</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" name="name" formControlName="name" placeholder="Name" [ngClass]="{'is-invalid': submitted && form.controls.name.errors}" placeholder=" " required>
                     <div *ngIf="submitted && form.controls.name.errors" class="invalid-feedback">Name is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Pet Type</label>
                     <select class="form-control" id="exampleFormControlSelect1" formControlName="status" [ngClass]="{'is-invalid': submitted && form.controls.status.value == 'undefined'}">
                        <option [value]="undefined">Select Value</option>
                        <option *ngFor="let status of pet_type" [value]="status.value">{{status.name}}</option>
                                       
                     </select>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Gender</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" "required formControlName="gender" placeholder="gender" [ngClass]="{'is-invalid': submitted && form.controls.gender.errors}">
                     <div *ngIf="submitted && form.controls.gender.errors" class="invalid-feedback">Gender is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Size</label>
                     <select class="form-control" id="exampleFormControlSelect1" formControlName="size" [ngClass]="{'is-invalid': submitted && form.controls.size.value == 'undefined'}">
                     
                        <option value="0">Select Size</option>
                        <option value="Small" selected>Small</option>
                        <option value="Large">Large</option>
                        <option value="Medium">Medium</option>
                        <option value="Giant">Giant</option>
                      </select>

                     <div *ngIf="submitted && form.controls.size.errors" class="invalid-feedback">Size is required</div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Age</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" "required formControlName="age" placeholder="age" [ngClass]="{'is-invalid': submitted && form.controls.age.errors}">
                     <div *ngIf="submitted && form.controls.age.errors" class="invalid-feedback">Age is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Breed</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" placeholder=""required formControlName="breed" placeholder="breed" [ngClass]="{'is-invalid': submitted && form.controls.breed.errors}"> 
                     <div *ngIf="submitted && form.controls.breed.errors" class="invalid-feedback">Breed is required</div>
                  </div>
                  <!-- <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Breed</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" required formControlName="2ndbreed" placeholder="breed" [ngClass]="{'is-invalid': submitted && form.controls.2ndbreed.errors}"> 
                     <div *ngIf="submitted && form.controls.2ndbreed.errors" class="invalid-feedback">Breed is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">2nd Breed</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" required formControlName="2ndbreed" placeholder="breed" [ngClass]="{'is-invalid': submitted && form.controls.2ndbreed.errors}"> 
                     <div *ngIf="submitted && form.controls.2ndbreed.errors" class="invalid-feedback">Breed is required</div>
                  </div> -->
               </div>
               <div class=" form-group ">
                  <input type="checkbox" name="fancy-checkbox-default" formControlName="purebreed" value="purebreed" id="fancy-checkbox-default" autocomplete="off" />
                  <div class=" btn-group ">
                      <label for="fancy-checkbox-default" class=" btn btn-default ">
                          <span class=" glyphicon glyphicon-ok "></span>
                          <span> </span>
                      </label>
                      <label for="fancy-checkbox-default" class=" btn btn-default active ">
                        Purebreed
                      </label>
                  </div>
              </div>
              <div class=" form-group ">
                  <input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default" formControlName="mixedbreed" value="mixedbreed" autocomplete="off" />
                  <div class=" btn-group ">
                     <label for="fancy-checkbox-defaults" class=" btn btn-default ">
                        <span class=" glyphicon glyphicon-ok "></span>
                        <span> </span>
                     </label>
                     <label for="fancy-checkbox-defaults" class=" btn btn-default active ">
                        Mixbreed
                     </label>
                  </div>
               </div>
              

               <div class="form-group">
                  <div class="checkbox">
                    <label class="radio-inline">
                      <input type="radio" style="display: block;" name="is_intact" formControlName="is_intact" value="intact"  >
                      <span class="radio-material"><span class="check"></span></span>
                      Intact
                    </label>
                   
                    <label class="radio-inline" style="margin-left:30px">
                        <input type="radio" value="spayed" name="is_intact" formControlName="is_intact" style="display: block;"  >
                        <span class="radio-material"><span class="check"></span></span>
                        Spayed/neutered
                    </label>

                  </div>
               </div>
                
          
               <div class="form-group">
                  <label for="exampleInputPassword1"> Add Profile Image:</label>
                  <div class="image-upload">
                     <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3">
                           <label for="file-input">
                           <img src="/images/createanouncement/Upload.png">
                           </label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9">
                           <div class="text"> Upload Profile Image Here</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="exampleInputPassword1">About</label>
                  <textarea style="width: 100%;">             
                  </textarea>
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
               <div class="add-new-adult">
                  <i class="fa fa-plus-circle" style="font-size:13px;color:#ef5445"></i>
                  Add New Adult Pet
               </div>

               <div class="title">New Born</div>
               <div class="row">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Date of Birth</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" "required formControlName="date" placeholder="date" [ngClass]="{'is-invalid': submitted && form.controls.date.errors}">
                     <div *ngIf="submitted && form.controls.date.errors" class="invalid-feedback">Date is required</div>
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <label for="exampleInputPassword1">Vaccination</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" placeholder=""required formControlName="email2" placeholder="email2" [ngClass]="{'is-invalid': submitted && form.controls.email2.errors}">
                     <div *ngIf="submitted && form.controls.email2.errors" class="invalid-feedback">Email is required</div> 
                  </div>
               </div>
               <div class="form-group ">
                  <label for="exampleInputPassword1">Registration</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" "required formControlName="register" placeholder="register" [ngClass]="{'is-invalid': submitted && form.controls.register.errors}">
                   <div *ngIf="submitted && form.controls.register.errors" class="invalid-feedback">Registration is required</div> 
               </div>
               <div class="title">Create First New Born</div>
               <div class="form-group ">
                  <div class="row">
                     <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <label for="exampleInputPassword1">Name</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" " required="" formControlName="name2" placeholder="name2" [ngClass]="{'is-invalid': submitted && form.controls.name2.errors}">
                        <div *ngIf="submitted && form.controls.name2.errors" class="invalid-feedback">Name is required</div> 
                     </div>
                     <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <label for="exampleInputPassword1">Gender</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" required="" formControlName="gender2" placeholder="gender2" [ngClass]="{'is-invalid': submitted && form.controls.gender2.errors}"> 
                        <div *ngIf="submitted && form.controls.gender2.errors" class="invalid-feedback">Gender is required</div> 
                     </div>
                  </div>
                  <div class="form-group ">
                     <label for="exampleInputPassword1">Status</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" " required="" formControlName="status2" placeholder="status2" [ngClass]="{'is-invalid': submitted && form.controls.status2.errors}">
                     <div *ngIf="submitted && form.controls.status2.errors" class="invalid-feedback">Status is required</div> 
                  </div>
                  <div class="row">
                     <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <label for="exampleInputPassword1">Reserve</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" " required="" formControlName="reserve" placeholder="reserve" [ngClass]="{'is-invalid': submitted && form.controls.reserve.errors}">
                        <div *ngIf="submitted && form.controls.reserve.errors" class="invalid-feedback">Reserve is required</div>
                     </div>
                     <!-- <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" required="" formControlName="price" placeholder="price" [ngClass]="{'is-invalid': submitted && form.controls.price.errors}"> 
                         <div *ngIf="submitted && form.controls.price.errors" class="invalid-feedback">Price is required</div>
                     </div> -->
                  </div>
               </div>
               <div class="form-group">
                  <label for="exampleInputPassword1"> Add Image Cover:</label>
                  <div class="image-upload">
                     <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3">
                           <label for="file-input">
                           <img src="images/createanouncement/Upload.png">
                           </label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9">
                           <div class="text"> Upload Cover Images Here</div>
                        </div>
                     </div>
                  </div>
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            
            <div class="add-new-adult">
               <i class="fa fa-plus-circle" style="font-size:13px;color:#ef5445"></i>
               Add New Born
            </div>
         </div>
      </div>
   </div>
</div>