<div class="middle-page">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="m-heading grid-col-2">
        <h5>Professionals List</h5>
    </div>

    <div class="m-page-data">
        <div class="array_list">
            <div class="single-item" *ngFor="let professional of professionals_list">
                <div class="have-grid have-hover">
                    <p>{{professional.professional_name}}</p>
                    <p class="align-end">{{professional.professional_company}}</p>
                </div>

                <p>{{professional.professional_address}}</p>
            </div>
        </div>
    </div>
</div>