<div class="middle-page">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="m-heading grid-col-2">
        <h5>Pet Parks</h5>

        <ng-container *ngIf="role_id == '1'">
            <button class="custom-button button hover-class" (click)="DisplayEventForm()">
                <img src="assets/images/plus1.png" alt="" />
                Post Pet Park
            </button>
        </ng-container>
    </div>
    <div class="petpark">
    
    
        <div class="incity">Pet Park in New Yourk</div>
    
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-12" *ngFor="let park of parks">
                <div class="about">
                    <div *ngFor="let img of park.pictures">
                        <img *ngIf="img.profile" [src]="url + img.url || 'assets/images/Ellipse 4.png'" />
                    </div>
    
                    <img
                        *ngIf="park.pictures == undefined"
                        src="assets/images/Ellipse 4.png"
                    />
    
                    <div class="row">
                        <div class="text">{{ park.park_name }}</div>
                    </div>
    
                    <div class="row">
                        <div class="city">
                            <div class="fa fa-map-marker star" aria-hidden="true"></div>
                            <span> {{ park.park_location }}</span>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="distance">{{ park.park_phone }}</div>
                        <div class="stars">
                            <span class="fa fa-star star" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="images">
                            <img src="assets/images/Rectangle 9 copy 4.png" />
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="button1"><a href="#">Park Details</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




