<div class="middle-page">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="m-heading grid-col-2">
        <h5>Events</h5>

        <ng-container *ngIf="role_id == '1'">
            <button class="custom-button button hover-class" (click)="DisplayEventForm()">
                <img src="assets/images/plus1.png" alt="" />
                Create Event
            </button>
        </ng-container>
    </div>

    <div class="m-details grid-col grid-col-3">
        <div class="single-item" *ngFor="let event of events_list">
            <img class="event-img no-img" src="assets/images/no-image.gif" alt="" />
            <span class="event-dates">{{event.date | date:'dd-MM-yyyy'}} - {{event.end_date | date:'dd-MM-yyyy'}}</span>
            <div class="event-detail">
                <h3>{{event.name}}</h3>
                <p>{{event.description}}</p>
            </div>
        </div>
    </div>
</div>


