<div class="friend">
    <div class="heading">Friends</div>
    <div class="images">
        <ul>
            <li>
                <img src="assets/images/17_03.png">
                <div class="text">
                    <p>John Doe</p>
                    1min Ago
                </div>
                <div class="option">
                    <a class="myPopover" data-toggle="popover" tabindex="0 " data-trigger="focus" data-placement="Bottom" data-original-title="" title=""><i class="fas fa-ellipsis-h"></i></a>
                </div>
            </li>
            <li>
                <img src="assets/images/18_03.png">
                <div class="text">
                    <p>Joisy Duys</p>
                    1min Ago
                </div>
                <div class="option">
                    <a class="myPopover" data-toggle="popover" tabindex="0 " data-trigger="focus" data-placement="Bottom" data-original-title="" title=""><i class="fas fa-ellipsis-h"></i></a>
                </div>
            </li>
            <li>
                <img src="assets/images/17_03.png">
                <div class="text">
                    <p>John Doe</p>
                    1min Ago
                </div>
                <div class="option">
                    <a class="myPopover" data-toggle="popover" tabindex="0 " data-trigger="focus" data-placement="Bottom" data-original-title="" title=""><i class="fas fa-ellipsis-h"></i></a>
                </div>
            </li>
            <li>
                <img src="assets/images/18_03.png">
                <div class="text">
                    <p>Joisy Duys</p>
                    1min Ago
                </div>
                <div class="option">
                    <a class="myPopover" data-toggle="popover" tabindex="0 " data-trigger="focus" data-placement="Bottom" data-original-title="" title=""><i class="fas fa-ellipsis-h"></i></a>
                </div>
            </li>
            <li>
                <img src="assets/images/17_03.png">
                <div class="text">
                    <p>John Doe</p>
                    1min Ago
                </div>
                <div class="option">
                    <a class="myPopover" data-toggle="popover" tabindex="0 " data-trigger="focus" data-placement="Bottom" data-original-title="" title=""><i class="fas fa-ellipsis-h"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="ads"><img src="assets/images/img1_03.png"></div>
<div class="ads"><img src="assets/images/img2_03.png"></div>