<div class="album">
    <div class="heading">
        Albums
        <div class="button hover-class" (click)="DisplayAlbumForm()">
            <a><img src="/assets/images/plus1.png"/></a>
            <span>Create Album</span>
        </div>
    </div>

    <hr />

    <div class="thumbnails">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="left">
                    <div class="images">
                        <img class="img1 rounded" src="/assets/images/album/album1.png" alt="img" />
                        <div class="centered">Place</div>
                        <img class="img2" src="/assets/images/plus.png" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="left">
                    <div class="images">
                        <img
                            class="img1 rounded"
                            src="/assets/images/album/album4.png"
                            alt="img"
                        />
                        <div class="centered">Training</div>
                        <img class="img2" src="/assets/images/plus.png" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="left">
                    <div class="images">
                        <img
                            class="img1 rounded"
                            src="/assets/images/album/album23.png"
                            alt="img"
                        />
                        <div class="centered">Place</div>
                        <img class="img2" src="/assets/images/plus.png" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="left">
                    <div class="images">
                        <img
                            class="img1 rounded"
                            src="/assets/images/album/album2.png"
                            alt="img"
                        />
                        <div class="centered">Walking</div>
                        <img class="img2" src="/assets/images/plus.png" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="left">
                    <div class="images">
                        <img
                            class="img1 rounded"
                            src="/assets/images/album/album23.png"
                            alt="img"
                        />
                        <div class="centered">Veterinary</div>
                        <img class="img2" src="/assets/images/plus.png" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="left">
                    <div class="images">
                        <img
                            class="img1 rounded"
                            src="/assets/images/album/album4.png"
                            alt="img"
                        />
                        <div class="centered">Park</div>
                        <img class="img2" src="/assets/images/plus.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
