<div class="middle-page">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="m-heading grid-col-2">
        <h5>Albums</h5>

        <button class="custom-button button hover-class" (click)="DisplayAlbumForm()">
            <img src="assets/images/plus1.png" alt="" />
            Create Album
        </button>
    </div>

    <div class="m-thumbnail">
        <div class="single-item" *ngFor="let album of albums_list">
            <span class="overlay"></span>
            <img *ngIf="album.pictures.length == 0" src="/assets/images/Album/album1.png" alt="" />
            <img *ngIf="album.pictures.length > 0" [src]=" url+ album.pictures[0].picture_url || ' /assets/images/Album/album1.png'" alt="" />

            <div class="item-detail">
                <p class="it-title">{{album.album_name}}</p>
                <img src="assets/images/plus.png" alt="" />
            </div>
        </div>

        
    </div>
</div>