<div class="middle-page">
    <div class="m-heading grid-col-2">
        <h5>Albums</h5>

        <button class="custom-button button hover-class" (click)="DisplayAlbumForm()">
            <img src="assets/images/plus1.png" alt="" />
            Create Album
        </button>
    </div>

    <div class="m-thumbnail">
        <div class="single-item">
            <span class="overlay"></span>
            <img src="assets/images/album/album1.png" alt="" />
            <div class="item-detail">
                <p class="it-title">Place</p>
                <img src="assets/images/plus.png" alt="" />
            </div>
        </div>

        <div class="single-item">
            <span class="overlay"></span>
            <img src="assets/images/album/album23.png" alt="" />
            <div class="item-detail">
                <p class="it-title">Training</p>
                <img src="assets/images/plus.png" alt="" />
            </div>
        </div>

        <div class="single-item">
            <span class="overlay"></span>
            <img src="assets/images/album/album4.png" alt="" />
            <div class="item-detail">
                <p class="it-title">Walking</p>
                <img src="assets/images/plus.png" alt="" />
            </div>
        </div>

        <div class="single-item">
            <span class="overlay"></span>
            <img src="assets/images/album/album2.png" alt="" />
            <div class="item-detail">
                <p class="it-title">Park</p>
                <img src="assets/images/plus.png" alt="" />
            </div>
        </div>

        <div class="single-item">
            <span class="overlay"></span>
            <img src="assets/images/album/album1.png" alt="" />
            <div class="item-detail">
                <p class="it-title">Place</p>
                <img src="assets/images/plus.png" alt="" />
            </div>
        </div>
    </div>
</div>