<div class="suggestion">
    <div class="heading">Friends Suggestions</div>

    <div class="images">
        <ul>
            <li>
                <img src="assets/images/15_03.png" />
                <p>John Doe</p>
            </li>
            <li>
                <img src="assets/images/15_03.png" />
                <p>Joisy Duys</p>
            </li>
            <li>
                <img src="assets/images/15_03.png" />
                <p>John Doe</p>
            </li>
            <li>
                <img src="assets/images/15_03.png" />
                <p>Joisy Duys</p>
            </li>
            <li>
                <img src="assets/images/15_03.png" />
                <p>John Doe</p>
            </li>
            <li></li>
        </ul>
    </div>
</div>

<div class="post">
    <div class="profile-info">
        <img src="assets/images/19_03.png" />
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                <div class="text">
                    <p>Lucky</p> Shared a Post
                </div>
                <p>Oct 4 at 04:00 AM</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="option">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="para">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        sunt explicabo.
    </div>
    
    <div class="img"><img src="assets/images/20_03.png" /></div>

    <div class="buttons">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="like">
                    <div class="btn">
                        <img src="assets/images/like_03.png" />
                    </div>
                    <div class="people">
                        <img src="assets/images/people_03.png" />
                        <p>125 Likes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="comment">
                    <div class="btn">
                        <img src="assets/images/comment_03.png" /> Comment
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="share">
                    <div class="btn">
                        <img src="assets/images/share_03.png" /> Share
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="post">
    <div class="profile-info">
        <img src="assets/images/19_03.png" />
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                <div class="text">
                    <p>Lucky</p> Shared a Post
                </div>
                <p>Oct 4 at 04:00 AM</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="option">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="para">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        sunt explicabo.
    </div>

    <div class="buttons">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="like">
                    <div class="btn">
                        <img src="assets/images/like_03.png" />
                    </div>
                    <div class="people">
                        <img src="assets/images/people_03.png" />
                        <p>125 Likes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="comment">
                    <div class="btn">
                        <img src="assets/images/comment_03.png" />
                        Comment
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="share">
                    <div class="btn">
                        <img src="assets/images/share_03.png" />
                        Share
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <img src="assets/images/21_03.png" />
</div>
