<div class="profesional">
    <div class="heading">Profesional Suggestions</div>

    <div class="professional">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="about1">
                    <img src="assets/images/Ellipse 4.png" />
                    <div class="row">
                        <div class="text">Nathalia bult</div>
                    </div>

                    <div class="row">
                        <div class="city">
                            <div class="fa fa-map-marker star" aria-hidden="true"></div>
                            <span> New York</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="distance">11Km</div>
                        <div class="stars">
                            <span class="fa fa-star star" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="images">
                        <img src="assets/images/Rectangle 9 copy 4.png" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="about1">
                    <img src="assets/images/Ellipse 4.png" />
                    <div class="row">
                        <div class="text">Nathalia bult</div>
                    </div>

                    <div class="row">
                        <div class="city">
                            <div class="fa fa-map-marker star" aria-hidden="true"></div>
                            <span> New York</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="distance">11Km</div>
                        <div class="stars">
                            <span class="fa fa-star star" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="images">
                        <img src="assets/images/Rectangle 9 copy 4.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="nearby">
            <div class="row">
                <div class="col-lg-12 col-sm-3">
                    <div class="text">NearBy</div>
                </div>

                <div class="col-lg-12 col-sm-9">
                    <div class="filterby">
                        Filter by: <input type="search" name="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="addfriend">
            <div class="row addfriend-top">
                <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                    <img src="assets/images/Clip1.png" />
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-4 mobile-paddding">
                    <div class="about">
                        <div class="name">Lusky</div>
                        <div class="breed">Pets:<span class="husky"> Dog</span></div>
                        <div class="destination">11 km</div>
                        <div class="breed">Breed:<span class="husky"> Huskey</span></div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-4 mobile-paddding">
                    <div class="city">
                        <span class="fa fa-map-marker star" aria-hidden="true"></span>
                        <span class="dstance">New York</span><br />
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <span class="fa fa-star star checked" aria-hidden="true"></span
                        ><br />
                        <div class="dog">Size: <span class="s">Small</span></div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-12 mobile-paddding1">
                    <div class="request">
                        <label class="switch">
                        <input type="checkbox" checked="" />
                        <span class="slider round"></span>
                        </label>

                        <a href="#" class="rounded">
                        <i> <img src="assets/images/Forma 1.png" /></i>
                        Add Friend</a
                        >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="about-friend">
                    <div class="heading">About Lusky:</div>
                    <div class="text">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </div>
                </div>
            </div>
        </div>

        <div class="addfriend">
            <div class="row addfriend-top">
                <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                    <img src="assets/images/Clip1.png" />
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-4 mobile-paddding">
                    <div class="about">
                        <div class="name">Lusky</div>
                        <div class="breed">Pets:<span class="husky"> Dog</span></div>
                        <div class="destination">11 km</div>
                        <div class="breed">Breed:<span class="husky"> Huskey</span></div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-4 mobile-paddding">
                    <div class="city">
                        <span class="fa fa-map-marker star" aria-hidden="true"></span>
                        <span class="dstance">New York</span>
                        <br />
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <span class="fa fa-star star checked" aria-hidden="true"></span>
                        <br />
                        <div class="dog">Size: <span class="s">Small</span></div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-12 mobile-paddding1">
                    <div class="request">
                        <label class="switch">
                            <input type="checkbox" checked="" />
                            <span class="slider round"></span>
                        </label>

                        <a href="#" class="rounded"><i><img src="assets/images/Forma 1.png" /></i>Add Friend</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="about-friend">
                    <div class="heading">About Lusky:</div>
                    <div class="text">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
