<div class="rounded bg-white p-3 mb-2 custom-form-body">
    <ngx-loading [show]="loading"></ngx-loading>
    <h5 class="border-bottom pb-2 mb-4">
        Create Announcement
    </h5>

    <form class="custom-form" [formGroup]="form" (ngSubmit)="SubmitData()">
        <div class="form-group">
            <label class="custom-label" for="company_name">Company Name:</label>
            <input type="text" class="form-control" name="company_name" formControlName="company_name" placeholder="Company Name" [ngClass]="{'is-invalid': submitted && form.controls.company_name.errors}">

            <div *ngIf="submitted && form.controls.company_name.errors" class="invalid-feedback">Company Name is required</div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label class="custom-label" for="province">Province:</label>
                <input type="text" class="form-control" name="province" formControlName="province" placeholder="Province" [ngClass]="{'is-invalid': submitted && form.controls.province.errors}">

                <div *ngIf="submitted && form.controls.province.errors" class="invalid-feedback">Province is required</div>
            </div>

            <div class="col">
                <label class="custom-label" for="service_type">Service Type:</label>
                <select class="form-control" name="service_type" formControlName="service_type">
                    <option [value]="undefined">Select Value</option>
                    <option *ngFor="let service of service_type_list" [value]="service.value">{{service.name}}</option>
                </select>

                <div *ngIf="submitted && form.controls.service_type.value == 'undefined'" class="invalid-feedback">Service Type is required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="custom-label" for="pet_type">Pet Type:</label>
            <select class="form-control" name="pet_type" formControlName="pet_type">
                <option [value]="undefined">Select Value</option>
                <option *ngFor="let pet of pet_type_list" [value]="pet.value">{{pet.name}}</option>
            </select>

            <div *ngIf="submitted && form.controls.pet_type.value == 'undefined'" class="invalid-feedback">Pet Type is required</div>
        </div>

        <div class="form-group file-input">
            <label class="custom-label" for="anouncement_avatar">Announcement Avatar:</label>
            <div class="file-input-box row m-0 p-4 rounded" [ngClass]="{'is-invalid': submitted && form.controls.anouncement_avatar.errors}">
                <div class="col col-3 file-input-data">
                    <img src="assets/images/createanouncement/upload.png" alt="" />
                    <input type="file" class="form-control" name="anouncement_avatar" formControlName="anouncement_avatar">
                </div>

                <div class="col col-9 file-input-data">
                    <label class="custom-label" for="anouncement_avatar">Upload Your Image:</label>
                </div>
            </div>

            <div *ngIf="submitted && form.controls.anouncement_avatar.errors" class="invalid-feedback">Announcement Avatar is required</div>
        </div>

        <div class="form-group row pt-2">
            <div class="col have-checkbox">
                <label class="custom-label">Free
                    <input type="checkbox" name="free" formControlName="free" />
                    <span class="check-mark"><i class="fa fa-check"></i></span>
                </label>
            </div>

            <div class="col have-checkbox">
                <label class="custom-label">Negotiable
                    <input type="checkbox" name="negotiable" formControlName="negotiable" />
                    <span class="check-mark"><i class="fa fa-check"></i></span>
                </label>
            </div>

            <div class="col have-checkbox">
                <label class="custom-label">Call for Price
                    <input type="checkbox" name="call_for_price" formControlName="call_for_price" />
                    <span class="check-mark"><i class="fa fa-check"></i></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label class="custom-label" for="price">Price:</label>
                <input type="text" class="form-control" name="price" formControlName="price" placeholder="Price" [ngClass]="{'is-invalid': submitted && form.controls.price.errors}">

                <div *ngIf="submitted && form.controls.price.errors" class="invalid-feedback">Price is required</div>
            </div>

            <div class="col">
                <label class="custom-label" for="price_unit">Price Unit:</label>
                <select class="form-control" name="price_unit" formControlName="price_unit">
                    <option [value]="undefined">Select Value</option>
                    <option *ngFor="let unit of price_unit_list" [value]="unit.value">{{unit.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="custom-label" for="announcement_description">Announcement Discription:</label>
            <textarea rows="4" class="form-control" name="announcement_description" formControlName="announcement_description" [ngClass]="{'is-invalid': submitted && form.controls.announcement_description.errors}"></textarea>

            <div *ngIf="submitted && form.controls.announcement_description.errors" class="invalid-feedback">Announcement Description is required</div>
        </div>

        <div class="form-group file-input">
            <label class="custom-label" for="announcement_pictures">Announcements Pictures:</label>
            <div class="file-input-box row m-0 p-4 rounded" [ngClass]="{'is-invalid': submitted && form.controls.announcement_pictures.errors}">
                <div class="col col-3 file-input-data">
                    <img src="assets/images/createanouncement/upload.png" alt="" />
                    <input type="file" multiple class="form-control" name="announcement_pictures" formControlName="announcement_pictures">
                </div>

                <div class="col col-9 file-input-data">
                    <label class="custom-label" for="announcement_pictures">Upload Upto 10 Images Here:</label>
                </div>
            </div>

            <div *ngIf="submitted && form.controls.announcement_pictures.errors" class="invalid-feedback">Announcements Pictures are required</div>
        </div>

        <button type="submit" class="btn btn-primary custom-btn">Create Announcement</button>
    </form>
</div>


