<div class="create-Event rounded-10">
    <div class="heading">
        Create Alert

        <div class="search">
            <form>
                <div class="form-group">
                    <label for="exampleInputPassword1">Alert Type</label>
                    <select
                        class="form-control"
                        id="type"
                        name="alert_type"
                    >
                        <option>Lost Pet</option>
                        <option>Found Pet</option>
                    </select>
                    <div>Alert Type is required</div>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Location</label>
                    <input
                        type="text"
                        id=""
                        class="form-control"
                        name="google_address"
                        placeholder=""
                    />
                    <input
                        type="hidden"
                        class=""
                        name="location"
                        required
                    />
                    <input
                        type="hidden"
                        class=""
                        name="lat"
                    />
                    <input
                        type="hidden"
                        class=""
                        name="long"
                    />
                    <div>Location is required</div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <label for="exampleInputPassword1">Date</label>
                        <input
                            type="text"
                            class="form-control alert_date datepicker"
                        />
                        <input
                            type="hidden"
                            class="alert_date-original"
                            name="alert_date"
                        />
                        <div>Alert date is required</div>
                    </div>

                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <label for="exampleInputPassword1">Time</label>
                        <input
                            type="text"
                            id="timepicker-12-hr"
                            class="form-control alert_time timepicker-12-hr hasWickedpicker"
                        />
                        <input
                            type="hidden"
                            class="alert_time-original"
                            name="alert_time"
                        />
                        <div>Alert Time is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Pet Images:</label>
                    <div class="image-upload">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label for="file-input">
                                <img src="assets/images//createanouncement/upload.png" />
                                </label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9">
                                <div class="text">Upload Pet Images</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group link">
                    <label for="exampleInputPassword1">Profile Link: </label>
                    <input
                        type="text"
                        class="form-control"
                        id="exampleInputPassword1"
                        placeholder=""
                        name="pet_profile"
                    />
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Discribe situation:</label>
                    <textarea
                        style="width: 100%;"
                        name="description"
                    >
                    </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Create Alert</button>
            </form>
        </div>
    </div>
</div>
