<div>
    <div class="services-offers">
        <div class="text-center">Advertisement here</div>
    </div>

    <div class="article">
        <div class="header-">
            <div class="profile">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 pdd">
                        <img src="assets/images/articel/profile.png" class="profile-img" />
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-6 pd">
                        <div class="text">Dr Ellen Dorant</div>
                        <div class="designation">Dog Therapist</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="title">Tips For Dog Behavior</div>
            <div class="date"><span class="d">Date:</span> 5 Feb 2020</div>
            <div class="date"><span class="d">Time:</span> 3pm</div>
        
            <br />
        
            <div class="body-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                    suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                    viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <img src="assets/images/articel/article.png" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                    suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                    viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                    suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                    viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <img src="assets/images/articel/article1.png" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                    suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                    viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
            </div>

            <div class="rate">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="left">Rate this article</div>
                    </div>

                    <div class="col-lg-4 float-left stars">
                        <span class=""><i class="fa fa-star"></i></span>
                        <span class=""><i class="fa fa-star"></i></span>
                        <span class=""><i class="fa fa-star"></i></span>
                        <span class=""><i class="fa fa-star"></i></span>
                        <span class=""><i class="fa fa-star"></i></span>
                    </div>
                </div>

                <form>
                    <div class="form-group">
                        <textarea
                            class="form-control"
                            rows="5"
                            id="comment"
                            placeholder="Add a comment..."
                        ></textarea>

                        <button type="button" class="btn btn-primary text-right">Post Comment</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="article-reviews">
            <!-- Comments -->
            <div class="review">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <img
                            src="https://image.ibb.co/jw55Ex/def_face.jpg"
                            class="img img-rounded img-fluid"
                            style="width: 44px; height: 50px;"
                        />
                    </div>

                    <div class="col-md-10 col-sm-10">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a class="" href="#"><span class="heading">John Do</span></a>
                                <div class="time">2 Reviews</div>
                                <span class="stars">
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                </span>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <p class="text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis et quasi architecto beatae
                        </p>
                    </div>

                    <hr />
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <img
                            src="https://image.ibb.co/jw55Ex/def_face.jpg"
                            class="img img-rounded img-fluid"
                            style="width: 44px; height: 50px;"
                        />
                    </div>

                    <div class="col-md-10 col-sm-10">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a class="" href="#"><span class="heading">John Do</span></a>
                                <div class="time">2 Reviews</div>
                                <span class="stars">
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                </span>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <p class="text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis et quasi architecto beatae
                        </p>
                    </div>
                
                    <hr />
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <img
                            src="https://image.ibb.co/jw55Ex/def_face.jpg"
                            class="img img-rounded img-fluid"
                            style="width: 44px; height: 50px;"
                        />
                    </div>

                    <div class="col-md-10 col-sm-10">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a class="" href="#"><span class="heading">John Do</span></a>
                                <div class="time">2 Reviews</div>
                                <span class="stars">
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                    <span class=""><i class="fa fa-star"></i></span>
                                </span>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <p class="text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis et quasi architecto beatae
                        </p>
                    </div>

                    <hr />
                </div>

                <!-- Bottom -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="left">
                            <div class="images">
                                <img
                                    class="rounded-top img1"
                                    src="assets/images/articel/1.jpg"
                                />
                            </div>

                            <div class="bottom">
                                <div class="heading1">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7 col-7">Inteligent Dog</div>
                                        <div class="col-lg-5 col-md-5 col-5 mobile_padding">
                                            <span class="float-right"
                                                ><span class="by">By:</span> John Allen
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="time">
                                    <span><img src="assets/images/articel/calender.png" /></span>
                                    15 Feb 2020
                                </div>

                                <div class="text">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam,
                                    <div><a href="#">Read More</a></div>
                                </div>

                                <div class="social">
                                    <ul>
                                        <li>
                                            <span>
                                                <a class="share-pst" href="#" title="Share">
                                                <i class="fa fa-share-alt fa-1x"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-secondary">
                                                Subcribe
                                            </button>
                                        </li>
                                        <li>
                                            <a class="share-pst" href="#" title="Comment">
                                                <i class="fa fas fa-comment-alt fa-1x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="left">
                        <div class="images">
                            <img
                            class="rounded-top img1"
                            src="assets/images/articel/2.jpg"
                            />
                        </div>
                        <div class="bottom">
                            <div class="heading1">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-7">Inteligent Dog</div>
                                <div class="col-lg-5 col-md-5 col-5 mobile_padding">
                                <span class="float-right"
                                    ><span class="by">By:</span> John Allen</span
                                >
                                </div>
                            </div>
                            </div>
                            <div class="time">
                            <span><img src="assets/images/articel/calender.png" /></span>
                            15 Feb 2020
                            </div>

                            <div class="text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam,
                            <div><a href="#">Read More</a></div>
                            </div>
                            <div class="social">
                            <ul>
                                <li>
                                <span>
                                    <a class="share-pst" href="#" title="Share">
                                    <i class="fa fa-share-alt fa-1x"></i>
                                    </a>
                                </span>
                                </li>
                                <li>
                                <button type="button" class="btn btn-secondary">
                                    Subcribe
                                </button>
                                </li>
                                <li>
                                <a class="share-pst" href="#" title="Comment">
                                    <i class="fa fas fa-comment-alt fa-1x"></i>
                                </a>
                                </li>
                            </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>