<div class="last-minute-appointment-booking">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-6">
            <div class="heading">Last minute appointment Posting</div>
        </div>

        <div class="col-lg-5 col-md-6 col-6 paddings">
            <div class="button">
                <a href="create-announcement.html">
                <i class="fa fa-plus-circle"></i
                ></a>
                <span>Post New Appoinment</span>
            </div>
        </div>
    </div>
  
    <hr />

    <div class="title">Current Appointment Posted</div>
    <div class="row multiple-items">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="left">
                <div class="images">
                    <img class="rounded-top img1" src="assets/images/articel/1.jpg" />
                </div>

                <div class="bottom">
                    <div class="row">
                        <div class="lefts">Dog Checkup</div>
                        <div class="rights">
                            <span class="text-right">
                                <div class="time">
                                    <span><img src="assets/images/articel/calender.png" /></span>
                                    15 Feb 2020/ 2Pm
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left-adres">
                            <div class="icon_div">
                                <span>
                                    <i class="fas fa-map-marker-alt" style="font-size: 18px; color: #ef5445;"></i>
                                </span>
                            </div>

                            <div class="text_div">
                                <span>19 Broodroad street </span><br />
                                <span>Edmonton, AB</span>
                            </div>
                        </div>

                        <div class="right-adres">
                            <span><img src="assets/images/last-minute/maps.png" /></span>
                            Within 1o km
                        </div>
                    </div>

                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt..
                    </div>
                    <button type="button" class="btn btn-secondary">Book</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <div class="left">
                <div class="images">
                    <img class="rounded-top img1" src="assets/images/articel/1.jpg" />
                </div>

                <div class="bottom">
                    <div class="row">
                        <div class="lefts">Dog Checkup</div>
                        <div class="rights">
                            <span class="text-right">
                                <div class="time">
                                    <span><img src="assets/images/articel/calender.png" /></span>
                                    15 Feb 2020/ 2Pm
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left-adres">
                            <div class="icon_div">
                                <span>
                                    <i class="fas fa-map-marker-alt" style="font-size: 18px; color: #ef5445;"></i>
                                </span>
                            </div>

                            <div class="text_div">
                                <span>19 Broodroad street </span><br />
                                <span>Edmonton, AB</span>
                            </div>
                        </div>

                        <div class="right-adres">
                            <span><img src="assets/images/last-minute/maps.png" /></span>
                            Within 1o km
                        </div>
                    </div>

                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt..
                    </div>
                    <button type="button" class="btn btn-secondary">Book</button>
                </div>
            </div>
        </div>
    </div>

    <div class="title">Appointment Booked</div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="left-bottom">
                <div class="title1">Booked By:<span>Durboom</span></div>
                <div class="images">
                    <img class="rounded-top img1" src="assets/images/articel/1.jpg" />
                </div>

                <div class="bottom">
                    <div class="row">
                        <div class="lefts">Dog Checkup</div>
                        <div class="rights">
                            <span class="text-right">
                                <div class="time">
                                    <span><img src="assets/images/articel/calender.png" /></span>
                                    15 Feb 2020/ 2Pm
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left-adres">
                            <div class="icon_div">
                                <span>
                                    <i class="fas fa-map-marker-alt" style="font-size: 18px; color: #ef5445;"></i>
                                </span>
                            </div>

                            <div class="text_div">
                                <span>19 Broodroad street </span><br />
                                <span>Edmonton, AB</span>
                            </div>
                        </div>

                        <div class="right-adres">
                            <span><img src="assets/images/last-minute/maps.png" /></span>
                            Within 1o km
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" style="background-color: #37cb6f;">Book</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <div class="left-bottom">
                <div class="title1">Booked By:<span>Durboom</span></div>
                <div class="images">
                    <img class="rounded-top img1" src="assets/images/articel/1.jpg" />
                </div>

                <div class="bottom">
                    <div class="row">
                        <div class="lefts">Dog Checkup</div>
                        <div class="rights">
                            <span class="text-right">
                                <div class="time">
                                    <span><img src="assets/images/articel/calender.png" /></span>
                                    15 Feb 2020/ 2Pm
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left-adres">
                            <div class="icon_div">
                                <span>
                                    <i class="fas fa-map-marker-alt" style="font-size: 18px; color: #ef5445;"></i>
                                </span>
                            </div>

                            <div class="text_div">
                                <span>19 Broodroad street </span><br />
                                <span>Edmonton, AB</span>
                            </div>
                        </div>

                        <div class="right-adres">
                            <span><img src="assets/images/last-minute/maps.png" /></span>
                            Within 1o km
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" style="background-color: #37cb6f;">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>
