<div class="friends">
    <div class="heading">Friend Requests</div>

    <div class="professional">
        <div class="requests">
            <div class="addfriend rounded">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="/assets/images/Clip1.png" />
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mobile-paddding">
                        <div class="about">
                            <div class="name">Lusky</div>
                            <div class="breed">Pets:<span class="husky"> Dog</span></div>
                            <div class="destination">11 km</div>
                            <div class="breed">Breed:<span class="husky"> Huskey</span></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mobile-paddding">
                        <div class="city">
                            <span class="fa fa-map-marker star" aria-hidden="true"></span>
                            <span class="dstance">New York</span><br />
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span
                            ><br />
                            <div class="dog">Size: <span class="s">Small</span></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mobile-paddding">
                        <div class="request">
                            <a href="#" class="rounded">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="addfriend rounded">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="/assets/images/Clip1.png" />
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mobile-paddding">
                        <div class="about">
                            <div class="name">Lusky</div>
                            <div class="breed">Pets:<span class="husky"> Dog</span></div>
                            <div class="destination">11 km</div>
                            <div class="breed">Breed:<span class="husky"> Huskey</span></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mobile-paddding">
                        <div class="city">
                            <span class="fa fa-map-marker star" aria-hidden="true"></span>
                            <span class="dstance">New York</span><br />
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span
                            ><br />
                            <div class="dog">Size: <span class="s">Small</span></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mobile-paddding">
                        <div class="request">
                            <a href="#" class="rounded">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="addfriend rounded">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="/assets/images/Clip1.png" />
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mobile-paddding">
                        <div class="about">
                        <div class="name">Lusky</div>
                        <div class="breed">Pets:<span class="husky"> Dog</span></div>
                        <div class="destination">11 km</div>
                        <div class="breed">Breed:<span class="husky"> Huskey</span></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 col-md-3 mobile-paddding">
                        <div class="city">
                            <span class="fa fa-map-marker star" aria-hidden="true"></span>
                            <span class="dstance">New York</span><br />
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span>
                            <span class="fa fa-star star checked" aria-hidden="true"></span
                            ><br />
                            <div class="dog">Size: <span class="s">Small</span></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mobile-paddding">
                        <div class="request">
                            <a href="#" class="rounded">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
