<div class="alert-page">
    <div class="row">
        <div class="col-lg-6 col-8">
            <div class="heading">Your Current Alerts</div>
        </div>

        <div class="col-lg-6 col-4">
            <div class="button hover-class" (click)="DsiplayAlertForm()">
                <a><img src="assets/images/bell.png" /></a>
                <span>Create an Alert</span>
            </div>
        </div>
    </div>

    <div class="row tt">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 mobile-css">
            <img class="h-100 w-100 img-fluid" src="assets/images/alert/1.png" />
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 detail1">
            <p>Lost My Cat Joeda</p>
            <div class="texts">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis
            </div>

            <button type="button" class="btn btn-secondary">View Details</button>
        </div>
    </div>
</div>

<div class="alert-page">
    <div class="heading1">Lost Pets</div>

    <div class="row thumbnails">
        <h1>Dogs</h1>
        <div class="row pd">
            <div class="col-lg-6 col-md-12">
                <div class="thumbnail1">
                    <a href="assets/images/av.png" target="_blank">
                        <img src="assets/images/av.png" alt="Nature" style="width: 100%;" />
                    </a>
                    <span>New</span>
                    <div class="caption">
                        <p>Sed ut perspiciatis</p>
                        <a href="#"><img src="assets/images/ty.png" /> <u>Alert Details</u></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="thumbnail1">
                    <a href="assets/images/sdsd.png" target="_blank">
                        <img
                            src="assets/images/sdsd.png"
                            alt="Nature"
                            style="width: 100%;"
                        />
                    </a>
                    <span>New</span>
                    <div class="caption">
                        <p>Sed ut perspiciatis</p>
                        <a href="#"><img src="assets/images/ty.png" /> <u>Alert Details</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row thumbnails">
        <h1>Cats</h1>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="thumbnail1">
                    <a href="assets/images/qwer.png" target="_blank">
                        <img
                            src="assets/images/qwer.png"
                            alt="Nature"
                            style="width: 100%;"
                        />
                    </a>
                    <span>New</span>
                    <div class="caption">
                        <p>Sed ut perspiciatis</p>
                        <a href="#"><img src="assets/images/ty.png" /> <u>Alert Details</u></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="thumbnail1">
                    <a href="assets/images/Clip12.png" target="_blank">
                        <img
                            src="assets/images/Clip12.png"
                            alt="Nature"
                            style="width: 100%;"
                        />
                    </a>
                    <span>New</span>
                    <div class="caption">
                        <p>Sed ut perspiciatis</p>
                        <a href="#"><img src="assets/images/ty.png" /> <u>Alert Details</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row thumbnails">
        <h1>Birds</h1>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="thumbnail1">
                    <a href="assets/images/Rectangle 9 copy 112.png" target="_blank">
                        <img
                            src="assets/images/Rectangle 9 copy 112.png"
                            alt="Nature"
                            style="width: 100%;"
                        />
                    </a>
                    <span>New</span>
                    <div class="caption">
                        <p>Sed ut perspiciatis</p>
                        <a href="#"><img src="assets/images/ty.png" /> <u>Alert Details</u></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="thumbnail1">
                    <a href="assets/images/Rectangle 9 copy 131.png" target="_blank">
                        <img
                            src="assets/images/Rectangle 9 copy 131.png"
                            alt="Nature"
                            style="width: 100%;"
                        />
                        <span>New</span>
                    </a>
                    <div class="caption">
                        <p>Sed ut perspiciatis</p>
                        <a href="#"><img src="assets/images/ty.png" /> <u>Alert Details</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

