
<local-header></local-header>
<ngx-loading [show]="loading"></ngx-loading>

<div class="main-petowner">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-lg-6 left ">
                <div class="box">
                    <div class="row">Welcome to</div>
                    
                    <div class="row">
                        <span class="heading">Petopus</span>
                    </div>
                    
                    <div class="row">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicab
                        </p>
                    </div>
                </div>

                <img src="assets/images//register-petOwner/reg-pet-owner1.png">
            </div>

            <div class="col-lg-6 right-professional ">
                <div class="row top justify-content-center align-items-center toggle-button-section">
                    <div class="button"><a (click)="ToggleRegistrationType(2)" class="guest guest-button hover-class" [ngClass]="{'active': role == 2}">Pet Owner / Guest</a></div>
                    <div class="button"><a (click)="ToggleRegistrationType(1)" class="profesionl professional-button hover-class" [ngClass]="{'active': role == 1}"> Professional</a></div>
                </div>
       
                <div class="div-center form-inline justify-content-center">

                    <div class="content" *ngIf="role == 1">
                        <div class="row"></div>
                        <div class="heading">Register as Professional</div>
                        
                        <br>

                        <form [formGroup]="form" (ngSubmit)="SubmitData()">
                            <div class="form-group">
                                <label>Full Name:</label>
                                <input type="text" class="form-control" placeholder="Full Name" formControlName="full_name">
                            </div>
                            
                            <div class="form-group">
                                <label>Your Email:</label>
                                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                            </div>
                            
                            <div class="form-group">
                                <label>Your Password:</label>
                                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                            </div>

                            <!-- <div class="form-group">
                                <label>Your Password:</label>
                                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                            </div> -->

                            <div class="form-group">
                                <label class="container mobile-font checkbox-container">I accept privacy, Terms &amp; Conditions of use
                                    <input type="checkbox" formControlName="terms">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Complete Registration</button>
                        </form>
                    </div>

                    <div class="content" *ngIf="role == 2">
                        <div class="row"></div>
                        <div class="heading">Register as Owner / Guest</div>
                        
                        <br>

                        <form [formGroup]="form" (ngSubmit)="SubmitData()">
                            <div class="form-group">
                                <label>Full Name:</label>
                                <input type="text" class="form-control" placeholder="Full Name" formControlName="full_name">
                            </div>
                            
                            <div class="form-group">
                                <label>Your Email:</label>
                                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                            </div>
                            <div class="form-group">
                                <label>Your Password:</label>
                                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label for="exampleInputPassword1">Country:</label>
                                    <select class="form-control" formControlName="country">
                                        <option value="undefined">Select Value</option>
                                        <option>Canada</option>
                                        <option>Australia</option>
                                        <option>UK</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label>Province State:</label>
                                    <input type="text" class="form-control" placeholder="Province State" formControlName="province">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>City:</label>
                                    <select class="form-control" formControlName="city">
                                        <option value="undefined">Select Value</option>
                                        <option>London</option>
                                        <option>New york</option>
                                        <option>Sudny</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label>Postal Code:</label>
                                    <input type="password" class="form-control" placeholder="Postal Code" formControlName="postal_code">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="container checkbox-container">I accept privacy, Terms &amp; Conditions of use
                                    <input type="checkbox" formControlName="terms">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Complete Registration</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<local-footer></local-footer>