<div class="middle-page">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="m-heading grid-col-2">
        <h5>Professional Services</h5>

        <button class="custom-button button hover-class" (click)="DisplayServicesForm()">
            <img src="assets/images/plus1.png" alt="" />
            Create Service
        </button>
    </div>

    <div class="m-page-data">
        <div class="array_list">
            <div class="single-item" *ngFor="let service of services">
                <div class="have-grid">
                    <h4>{{service.name}}</h4>

                    <ul class="align-end">
                        <li><span class="heading">From</span>: ${{(service.price) ? service.price : '0'}}/hr</li>
                        <li><span class="heading">Negotiable</span>: {{(service.negotiable) ? 'Yes' : 'No'}}</li>
                        <li><span class="heading">Call for Price</span>: {{(service.call_for_price) ? 'Yes' : 'No'}}</li>
                        <li><span class="heading">Free</span>: {{(service.free) ? 'Yes' : 'No'}}</li>
                    </ul>
                </div>

                <ul class="pets-list">
                    <li class="heading">Pets: </li>
                    <li class="items">Dog</li>
                    <li class="items">Cat</li>
                    <li class="items">Tom</li>
                </ul>

                <p>{{service.description}}</p>
            </div>
        </div>
    </div>
</div>