<div class="feed">
    <div class="conatiner-fluid">
        <div class="banner"><img src="assets/images//banner_02.png"  class='img-fluid w-100'></div>
    </div>

    <div class="mobile-profile">
        <img src="assets/images//22_03.png">
        <div>
            <h6>John Doe</h6>
            <p>Breedic Husky</p>
        </div>
    </div>

    <div class="container">

        <div class="nav">
            <ul>
                <li class="rounded-left" *ngIf="owner_profile"><a>Profile</a></li>
                <li class="rounded-left" *ngIf="!owner_profile"><a routerLink="home/about">About</a></li>
                <li class="rounded-left"><a>Feeds</a></li>
                <li class="rounded-left"><a>Services</a></li>
                <li class="rounded-left" *ngIf="owner_profile"><a>Events</a></li>
                <li class="rounded-left" *ngIf="owner_profile"><a>Parks</a></li>
                <li class="rounded-left" *ngIf="owner_profile"><a>Announces</a></li>
                <li class="rounded-left" *ngIf="owner_profile"><a>NearBy</a></li>
                <li class="rounded-left"><a>Alerts</a></li>
            </ul>
        </div>
    </div>
</div>