<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="container">
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item"><a href="#!">About Us</a></li>
            <li class="list-inline-item"><a href="#!">Contact Us</a></li>
            <li class="list-inline-item"><a href="#!">Sponsership &amp; Partnership</a></li>
            <li class="list-inline-item"><a href="#!">invite a friend</a></li>
            <li class="list-inline-item"><a href="#!">Help &amp; Support</a></li>
            <li class="list-inline-item"><a href="#!">FeedBack</a></li>
        </ul>
    </div>
  
    <div class="container text-center">
        <ul class="list-unstyled list-inline text-center ">
                <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="#!">Terms &amp; Conditions</a></li>
        </ul>
    </div>
  
    <div class="footer-copyright text-center ">© 2020 Petopus Inc. All right Reserved</div>
</footer>