<div class="breeders">
    <div class="heading">
        New Litters
        <div class="button hover-class" (click)="DisplayBreederForm()">
            <a href="breeders-2.html"><img src="assets/images/plus1.png" /></a>
            <span>Add New Offsrping</span>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-12 col-md-6">
            <div class="box">
                <div class="chat_people">
                    <div class="chat_img">
                        <img src="assets/images/chat//1.png" alt="sunil" />
                    </div>

                    <div class="chat_ib">
                        <h5>Durboon</h5>
                        <div class="left">
                            <ul>
                                <li>Pet Type:</li>
                                <li>Gender:</li>
                                <li>Size</li>
                                <li>Age</li>
                            </ul>
                        </div>

                        <div class="right">
                            <ul>
                                <li>Dog</li>
                                <li>Male</li>
                                <li>Large</li>
                                <li>40 Months</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="bottom">
                    <div class="title">Breed: <span>Husky</span></div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt..
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12 col-md-6">
            <div class="box">
                <div class="chat_people">
                    <div class="chat_img">
                        <img src="assets/images/chat//1.png" alt="sunil" />
                    </div>

                    <div class="chat_ib">
                        <h5>Durboon</h5>
                        <div class="left">
                        <ul>
                            <li>Pet Type:</li>
                            <li>Gender:</li>
                            <li>Size</li>
                            <li>Age</li>
                        </ul>
                        </div>
                        <div class="right">
                        <ul>
                            <li>Dog</li>
                            <li>Male</li>
                            <li>Large</li>
                            <li>40 Months</li>
                        </ul>
                        </div>
                    </div>
                </div>

                <div class="bottom">
                    <div class="title">Breed: <span>Husky</span></div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt..
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="information shadow-sm">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 mobile-padings">
                New Born: <span>Feb 15 2020</span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 mobile-padings">
                Vaccination <span>Up to Date</span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 mobile-padings">
                Registered: <span> Yes</span>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-lg-4 col-sm-6 col-6">
            <div class="card">
                <img
                    class="card-img-top img-circle rounded-circle"
                    src="assets/images/breeders/2.png"
                    alt="Card image cap"
                />

                <div class="bottom">
                    <div class="name">Lanot</div>
                    <div class="Gender">Gender: <span>Male</span></div>
                    <div class="status">
                        <span class="glyphicon glyphicon-one-fine-dot"></span>Available
                    </div>
                    <div class="rate">$74</div>
                    <button type="button" class="btn btn-primary text-right">
                        Reserve
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-6">
            <div class="card">
                <img
                    class="card-img-top img-circle rounded-circle"
                    src="assets/images/breeders/2.png"
                    alt="Card image cap"
                />

                <div class="bottom">
                    <div class="name">Lanot</div>
                    <div class="Gender">Gender: <span>Male</span></div>
                    <div class="status">
                        <span class="glyphicon glyphicon-one-fine-dot"></span>Available
                    </div>
                    <div class="rate">$74</div>
                    <button type="button" class="btn btn-primary text-right">
                        Reserve
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-6">
            <div class="card">
                <img
                    class="card-img-top img-circle rounded-circle"
                    src="assets/images/breeders/2.png"
                    alt="Card image cap"
                />

                <div class="bottom">
                    <div class="name">Lanot</div>
                    <div class="Gender">Gender: <span>Male</span></div>
                    <div class="status">
                        <span class="glyphicon glyphicon-one-fine-dot"></span>Available
                    </div>
                    <div class="rate">$74</div>
                    <button type="button" class="btn btn-primary text-right">
                        Reserve
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-6">
            <div class="card">
                <img
                    class="card-img-top img-circle rounded-circle"
                    src="assets/images/breeders/2.png"
                    alt="Card image cap"
                />

                <div class="bottom">
                    <div class="name">Lanot</div>
                    <div class="Gender">Gender: <span>Male</span></div>
                    <div class="status">
                        <span class="glyphicon glyphicon-one-fine-dot"></span>Available
                    </div>
                    <div class="rate">$74</div>
                    <button type="button" class="btn btn-primary text-right">
                        Reserve
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-6 col-6">
            <div class="card">
                <img
                    class="card-img-top img-circle rounded-circle"
                    src="assets/images/breeders/2.png"
                    alt="Card image cap"
                />

                <div class="bottom">
                    <div class="name">Lanot</div>
                    <div class="Gender">Gender: <span>Male</span></div>
                    <div class="status">
                        <span class="glyphicon glyphicon-one-fine-dot"></span>Available
                    </div>
                    <div class="rate">$74</div>
                    <button type="button" class="btn btn-primary text-right">
                        Reserve
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-6">
            <div class="card">
                <img
                    class="card-img-top img-circle rounded-circle"
                    src="assets/images/breeders/2.png"
                    alt="Card image cap"
                />

                <div class="bottom">
                    <div class="name">Lanot</div>
                    <div class="Gender">Gender: <span>Male</span></div>
                    <div class="status">
                        <span class="glyphicon glyphicon-one-fine-dot"></span>Available
                    </div>
                    <div class="rate">$74</div>
                    <button type="button" class="btn btn-primary text-right">
                        Reserve
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
