<div>
    <div class="store">
        <div class="shop">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                
                    <div class="heading">Nathalle Blount</div>
                    <div class="shop">Pet Shop</div>

                    <div class="key text-center">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <img src="assets/images/store-profile.png" class="" />
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <div class="text">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                    blanditiis
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="heading">
                        Opening Hours
                    </div>
                    <div class="opening-hour">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="day">Monday:</span>
                            </div>

                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="time">9AM to 05PM</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="day">Tuesday:</span>
                            </div>

                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="time">9AM to 05PM</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="day">Wednesday:</span>
                            </div>

                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="time">9AM to 05PM</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="day">Thursday:</span>
                            </div>

                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="time">9AM to 05PM</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="day">Friday:</span>
                            </div>

                            <div class="col-lg-6 col-md-6 col-6">
                                <span class="time">9AM to 05PM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-offers">
        <div class="heading">Services Offered</div>
        <div class="buttons">
            <a href="#">Pet Care</a>
            <a href="#">Pet Care</a>
            <a href="#">Pet Care</a>
            <a href="#">Pet Care</a>
        </div>
    </div>
    <div class="product-offers">
        <div class="heading">Product Offered</div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="servicez1">
                    <img src="assets/images/storeprofile/pet-foods.png" />
                    <div class="title1">Pet Foods</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="servicez">
                    <img src="assets/images/storeprofile/pet-pharmacy.png" />
                    <div class="title">Pet Foods</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="servicez">
                    <img src="assets/images/storeprofile/pet-supply.png" />
                    <div class="title">Pet Foods</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="servicez">
                    <img src="assets/images/storeprofile/pet-toys.png" />
                    <div class="title">Pet Foods</div>
                </div>
            </div>
        </div>
    </div>
    <div class="recent-posts">
        <div class="heading">Recent Posts</div>

        <div class="row mobile-1">
            <img src="assets/images/storeprofile/1.png" />
            <img src="assets/images/storeprofile/3.png" />
            <img src="assets/images/storeprofile/4.png" />
            <img src="assets/images/storeprofile/5.png" />
        </div>
    </div>
    <div class="followers">
        <div class="heading">New Followers</div>
        <div class="images">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <img src="assets/images/15_03.png" />
                    <p>John Doe</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <img src="assets/images/15_03.png" />
                    <p>John Doe</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <img src="assets/images/15_03.png" />
                    <p>John Doe</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <img src="assets/images/15_03.png" />
                    <p>John Doe</p>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews">
        <div class="heading">Customer Reviews</div>
        <div class="review">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <img
                        src="https://image.ibb.co/jw55Ex/def_face.jpg"
                        class="img img-rounded img-fluid"
                        style="width: 44px; height: 50px;"
                    />
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                        <a class="" href="#"><span class="heading">John Do</span></a>
                        <div class="time">20 Aug 2019</div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                        <span class="stars">
                            <span class=""><i class="fa fa-star"></i></span>
                            <span class=""><i class="fa fa-star"></i></span>
                            <span class=""><i class="fa fa-star"></i></span>
                            <span class=""><i class="fa fa-star"></i></span>
                            <span class=""><i class="fa fa-star"></i></span>
                        </span>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <p class="text">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae
                    </p>
                </div>
                <hr />
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <img
                        src="https://image.ibb.co/jw55Ex/def_face.jpg"
                        class="img img-rounded img-fluid"
                        style="width: 44px; height: 50px;"
                    />
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <a class="" href="#"><span class="heading">John Do</span></a>
                            <div class="time">20 Aug 2019</div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <span class="stars">
                                <span class=""><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <p class="text">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
