<div class="col-lg-3 col-md-4">
    <div class="left-menu">
        <div class="details">
            <div class="top rounded-top" style="background: url(assets/images/2_03.png) no-repeat center;">
                <img [src]="profilePicture || 'assets/images/3_03.png'" style="border-radius: 50%; width: 125px;">
                <h4>nickname</h4>
                <h6>company name</h6>
                <span class="city"> <h6>City: <span class="name"></span></h6> </span>
                <span class="distance"> <h6>Distance:<span class="Name">15Km</span></h6></span>
            </div>

            <div class="bottom">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="assets/images/5_66.png"><b>Pets :</b></td>
                            <td style="text-align: right;">Dog</td>
                        </tr>
                        <tr>
                            <td><img src="assets/images/5_66.jpg"><b>Followers :</b></td>
                            <td style="text-align: right;">204</td>
                        </tr>
                        <tr>
                            <td><img src="assets/images/6_66.png"><b>Posts :</b></td>
                            <td style="text-align: right;">300</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="options">
                <ul>
                    <li><a routerLink="album"><img src="assets/images/7_03.png">Albums</a></li>
                    <li *ngIf="role_id == '2'"><a routerLink="friends"><img src="assets/images/8_66.png">Friends</a></li>
                    <li *ngIf="role_id == '1'"><a routerLink="friends"><img src="assets/images/8_66.png">Followers</a></li>
                    <li><a routerLink="chat"><img src="assets/images/9_66.jpg">Messages</a></li>
                    <li><a routerLink="groups"><img src="assets/images/11_66.png">Groups</a></li>
                    <li><a routerLink="events"><img src="assets/images/10_66.png">Events</a></li>
                    <li><a routerLink="parks"><img src="assets/images/alert-display-Distance.png">Parks</a></li>
                    <li *ngIf="role_id == '2'"><a routerLink="announcements"><img src="assets/images/7_03.png">Announce</a></li>
                    <li *ngIf="role_id == '2'"><a routerLink="publish-articles"><img src="assets/images/7_03.png">Publish Articles</a></li>
                    <li *ngIf="role_id == '1'"><a routerLink="appointments"><img src="assets/images/7_03.png">Appointment</a></li>
                    <li *ngIf="role_id == '1'"><a routerLink="breeders"><img src="assets/images/8_66.png">Breeder</a></li>
                    <li *ngIf="role_id == '2'"><a routerLink="advirtisement"><img src="assets/images/8_66.png">Advertisement</a></li>
                    <li><a routerLink="feedback"><img src="assets/images/12_66.png" style=" margin-left: -5px;">Feedback</a></li>
                    <li><a routerLink="admin-chat"><img src="assets/images/13_66.png">Admin Message</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>