.col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

ul {
    li {
        span {
            display: inline-block;
            line-height: 48px;
            width: 16ch;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #fff;
            cursor: pointer;
        }
        ul.inner-menu {
            position: absolute;
            display: none;
            background-color: #fff;
            li {
                cursor: pointer;
                float: none;
                padding: 0 10px;
                margin: 0 0 6px;
                line-height: 30px;
                &:last-child {
                    margin: 0;
                }
                &:hover {
                    background-color: #f2f2f2;
                }
            }
        }
        &:hover {
            ul.inner-menu {
                display: block;
                z-index: 10;
                padding: 8px 0;
                width: 200px;
            }
        }
    }
}
.profile .header .my-profile .profile-img{
    width: 48px !important;
}