<div class="rounded bg-white p-3 mb-2 custom-form-body">
    <ngx-loading [show]="loading"></ngx-loading>
    <h5 class="border-bottom pb-2 mb-4">
        Create an Album
    </h5>

    <form class="custom-form" [formGroup]="form" (ngSubmit)="SubmitData()">
        <div class="form-group">
            <label class="custom-label" for="album_name">Album Name:</label>
            <input type="text" class="form-control" name="album_name" formControlName="album_name" placeholder="Album Name" [ngClass]="{'is-invalid': submitted && form.controls.album_name.errors}">

            <div *ngIf="submitted && form.controls.album_name.errors" class="invalid-feedback">Album Name is required</div>
        </div>

        <div class="form-group">
            <label class="custom-label" for="status">Album Type:</label>
            <select class="form-control" name="album_type" formControlName="album_type" [ngClass]="{'is-invalid': submitted && form.controls.album_type.value == 'undefined'}">
                <option [value]="undefined">Select Value</option>
                <option *ngFor="let album of album_type_list" [value]="album.value">{{album.name}}</option>
            </select>

            <div *ngIf="submitted && form.controls.album_type.value == 'undefined'" class="invalid-feedback">Album Type is required</div>
        </div>

        <div class="form-group file-input">
            <label class="custom-label" for="album_images">Album Images:</label>
            <div class="file-input-box row m-0 p-4 rounded" [ngClass]="{'is-invalid': submitted && form.controls.album_images.errors}">
                <div class="col col-3 file-input-data">
                    <img src="assets/images/createanouncement/upload.png" alt="" />
                    <input type="file" multiple 
                        class="form-control" 
                        name="album_images" 
                        formControlName="album_images"
                        (change)="onFileChange($event)"
                    >
                </div>

                <div class="col col-9 file-input-data">
                    <label class="custom-label" for="album_images">Upload Upto 10 Images Here:</label>
                </div>
            </div>


            <div *ngIf="submitted && form.controls.album_images.errors" class="invalid-feedback">Album Images is required</div>
        </div>

        <button type="submit" class="btn btn-primary custom-btn">Create Album</button>
    </form>
</div>


