<div class="header-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-5 ">
                <div class="logo-login">
                <img src="assets/images/Login/logo.png">
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-7 col-7 ">
                <div class="log">
                    <button routerLink="/login" class="btn btn-primary">Login</button>
                    <button routerLink="/register" class="btn btn-primary">SignUp</button> 
                </div>
            </div>  
        </div>
    </div>
</div>
