<local-header></local-header>

<div class="main">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="div-center">
        <div class="content">
            <div class="logintext">Member Login</div>
            
            <form [formGroup]="form" (ngSubmit)="SubmitData()">
                <div class="row" *ngIf="error_state">
                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h5 class="danger" style="color:red"> Login Fail Please check Login details</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email:</label>
                    <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email" required>
                    <div *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched || submitted)" class="help-block alert alert-danger">Email is required</div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password:</label>
                    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password" required>
                    <div *ngIf="!form.controls.password.valid && (form.controls.password.dirty || form.controls.password.touched || submitted)" class="help-block alert alert-danger">Password is required</div>
            
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Login</button>
                
                <div class="text-center"> <a href="#">Forget Username / Password?</a></div>
            </form>
        </div>
    </div>

    <div class="signup-box signup">
        <a routerLink="/register">
            <img src="assets/images/Login/signup.png">
            <span class="text">Create Account</span>
        </a>
    </div>
</div>

<local-footer></local-footer>