.main {
    position: absolute;
    top: 107px;
    bottom: 151px;
    height: initial;
    width: 100%;
    padding: 0;
    .div-center {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        right: initial;
    }
    .signup-box {
        bottom: 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: initial;
    }
}



local-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}