/* You can add global styles to this file, and also import other style files */
.hover-class {
    cursor: pointer;
}

.custom-form-body {
    position: relative;
    .custom-form {
        label.custom-label {
            font-size: 14px;
            font-weight: 500;
        }
        input[type="checkbox"] {
            width: 0;
            height: 0;
        }
        .have-checkbox {
            label {
                margin: 0;
                padding-left: 32px;
                line-height: 25px;
            }
            span.check-mark {
                position: absolute;
                left: 16px;
                height: 25px;
                width: 25px;
                background-color: #ffff;
                border: 1px solid #ced4da;
                i.fa {
                    display: none;
                    color: #ef5445;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            input[type="checkbox"]:checked + span.check-mark {
                i.fa {
                    display: block;
                }
            }
        }
        .custom-btn {
            background-color: #ef5445;
            border: 1px solid #bf4337;
            box-shadow: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            &:active {
                background-color: #ef5445 !important;
            }
        }
    }
}
