<div class="col-lg-9 col-md-8 col-sm-12">
   <div class="row">
      <div class="col-lg-9 col-md-12">
         <div class="our-pets">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-6">
                  <div class="heading">
                     Our Pet:<span>Dog</span>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-6">
                  <div class="button">
                     <a href="fill-form.html"><img src="images/plus1.png"></a>
                     <span>Add New Pet</span>
                  </div>
               </div>
            </div>
            <hr>
            <div class="row text-center mobile-">
               <div class="col-lg-6 col-sm-12">
                  <div class="friend-box">
                     <figure>
                        <img src="images/our-pets/1.png" alt="">
                     </figure>
                     <div class="frnd-meta">
                        <img src="images//our-pets/2.png" alt="">
                     </div>
                     <div class="name">Darboon</div>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right left">
                           <ul>
                              <li>Pet Type:</li>
                              <li>Gender:</li>
                              <li>Size:</li>
                              <li>Ages:</li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-left right">
                           <ul>
                              <li>Dog</li>
                              <li>Male</li>
                              <li>Large</li>
                              <li>40 Months</li>
                           </ul>
                        </div>
                     </div>
                     <div class="button btn-outline-secondary"><a href="#"> LABRADOR  </a></div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="friend-box">
                     <figure>
                        <img src="images/our-pets/1.png" alt="">
                     </figure>
                     <div class="frnd-meta">
                        <img src="images//our-pets/2.png" alt="">
                     </div>
                     <div class="name">Darboon</div>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right left">
                           <ul>
                              <li>Pet Type:</li>
                              <li>Gender:</li>
                              <li>Size:</li>
                              <li>Ages:</li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-left right">
                           <ul>
                              <li>Dog</li>
                              <li>Male</li>
                              <li>Large</li>
                              <li>40 Months</li>
                           </ul>
                        </div>
                     </div>
                     <div class="button btn-outline-secondary"><a href="#"> LABRADOR  </a></div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="friend-box">
                     <figure>
                        <img src="images/our-pets/1.png" alt="">
                     </figure>
                     <div class="frnd-meta">
                        <img src="images//our-pets/2.png" alt="">
                     </div>
                     <div class="name">Darboon</div>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right left">
                           <ul>
                              <li>Pet Type:</li>
                              <li>Gender:</li>
                              <li>Size:</li>
                              <li>Ages:</li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-left right">
                           <ul>
                              <li>Dog</li>
                              <li>Male</li>
                              <li>Large</li>
                              <li>40 Months</li>
                           </ul>
                        </div>
                     </div>
                     <div class="button btn-outline-secondary"><a href="#"> LABRADOR  </a></div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="friend-box">
                     <figure>
                        <img src="images/our-pets/1.png" alt="">
                     </figure>
                     <div class="frnd-meta">
                        <img src="images//our-pets/2.png" alt="">
                     </div>
                     <div class="name">Darboon</div>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right left">
                           <ul>
                              <li>Pet Type:</li>
                              <li>Gender:</li>
                              <li>Size:</li>
                              <li>Ages:</li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-left right">
                           <ul>
                              <li>Dog</li>
                              <li>Male</li>
                              <li>Large</li>
                              <li>40 Months</li>
                           </ul>
                        </div>
                     </div>
                     <div class="button btn-outline-secondary"><a href="#"> LABRADOR  </a></div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="friend-box">
                     <figure>
                        <img src="images/our-pets/1.png" alt="">
                     </figure>
                     <div class="frnd-meta">
                        <img src="images//our-pets/2.png" alt="">
                     </div>
                     <div class="name">Darboon</div>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right left">
                           <ul>
                              <li>Pet Type:</li>
                              <li>Gender:</li>
                              <li>Size:</li>
                              <li>Ages:</li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-left right">
                           <ul>
                              <li>Dog</li>
                              <li>Male</li>
                              <li>Large</li>
                              <li>40 Months</li>
                           </ul>
                        </div>
                     </div>
                     <div class="button btn-outline-secondary"><a href="#"> LABRADOR  </a></div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="friend-box">
                     <figure>
                        <img src="images/our-pets/1.png" alt="">
                     </figure>
                     <div class="frnd-meta">
                        <img src="images//our-pets/2.png" alt="">
                     </div>
                     <div class="name">Darboon</div>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right left">
                           <ul>
                              <li>Pet Type:</li>
                              <li>Gender:</li>
                              <li>Size:</li>
                              <li>Ages:</li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-left right">
                           <ul>
                              <li>Dog</li>
                              <li>Male</li>
                              <li>Large</li>
                              <li>40 Months</li>
                           </ul>
                        </div>
                     </div>
                     <div class="button btn-outline-secondary"><a href="#"> LABRADOR  </a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>